@font-face {
    font-family: EncodeSansCondensed;
    src: url('../fonts/EncodeSansCondensed-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: EncodeSansCondensed;
    src: url('../fonts/EncodeSansCondensed-Thin.ttf');
    font-weight: 100;
}
@font-face {
    font-family: EncodeSansCondensed;
    src: url('../fonts/EncodeSansCondensed-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: EncodeSansCondensed;
    src: url('../fonts/EncodeSansCondensed-Medium.ttf');
    font-weight: normal;
}

@font-face {
    font-family: EncodeSansCondensed;
    src: url('../fonts/EncodeSansCondensed-Bold.ttf');
    font-weight: bold;
}


@font-face {
    font-family: EncodeSansCondensed;
    src: url('../fonts/EncodeSansCondensed-Black.ttf');
    font-weight: 900;
}