F* {
    font-family: EncodeSansCondensed!important;
}
body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    height:100%;
}
.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 0;
}
.equal {
    display: flex;
    flex-wrap: wrap;
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    padding-left: 0!important;
    padding-right: 0!important;
}
#section-header {
    margin-top: 30px;
    width: 80%;
    margin-left: 10%;
}
.navbar-container {
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    right: 0;
    bottom: 0;
}
#section-header .navbar-right {
    margin-right: 0;
}
.navbar-container .nav>li>a {
    padding: 30px 0 0 15px;
    margin-left: 15px;
}
.navbar-container li {
    font-size: 23px;
    font-weight: bold;
}
.navbar-content {
    padding-top: 5%;
}
.nav>li>a:focus, .nav>li>a:hover {
    background-color: #fff!important;
}
.logo-container img {
    width: 110px;
}

/*slide container*/
#slide-container {
    margin-top: 30px;
    position: relative;
}
#brand-carousel .img-container {
    padding-top: 56.25%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: 120%;
    background-position-y: 80%;
}
#brand-carousel {
    position: relative;
} 
#brand-carousel-product .img-container {
    padding-top: 56.25%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: 120%;
    background-position-y: 80%;
}
#brand-carousel-product .right-arrow {
    top: 40%;
}
.left-arrow {
    display: flex;
    position: absolute;
    bottom: 5%;
    left: 15.33333333%;
    margin: auto 0;
    z-index: 999;
    cursor: pointer;
}
.right-arrow {
    display: flex;
    position: absolute;
    bottom: 5%;
    right: 15.33333333%;
    margin: auto 0;
    z-index: 999;
    cursor: pointer;
}
.brand-item-carousel img {
    width: 100%;
    height: 71vh;
}
.arrow-container {
    border: 5px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}
.arrow-container img {
    width: 50px;
}
/*solution section*/
#solution-section {
    margin-top: 30px;
    width: 80%;
    margin-left: 10%;
}
#solution-section .intro img {
    max-width: 100%;
}
#solution-section .header {
    text-align: center;
    color: #0066b3;
}
#solution-section .img-container {
    margin: 0 0 50px 0;
    /* height: 500px; */
    width: 100%;
    background-image: url(../img/slide-4.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 80%;
}
.margin-paragraph {
    margin-bottom: 30px;
}
#solution-section .content .intro {
    padding-bottom: 0;
    margin-bottom: 10px;
}
#solution-section .information .header {
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    color: #000000;
}
.information .body {
    font-weight: 400;
    text-align: justify;
    font-size: 23px;
}
#solution-section .intro {
    font-weight: 400;
    text-align: justify;
    /*font-size: 23px;*/
    padding-bottom: 30px;
    margin-top: 40px;
    margin-bottom: 60px;
}
.header .title1 {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.header .title3 {
    position: relative;
    display: inline;
    line-height: 1.2;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}
.header .title2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 5px;
}
/* .line {
    width: 16%;
    height: 10px;
    border: 0;
    border-radius: 5px;
    background-color: #0066b3;
} */
.end-line {
    display: inline-block;
    position: relative;
}
.start-line {
    display: inline-block;
    position: relative;
}
.line-bottom {
    width: 100%;
    height: 8px;
    border: 0;
    border-radius: 5px;
    background-color: #0066b3;
    position: absolute;
    bottom: 0px;
}
.description .line-bottom {
    bottom: -15px;
}
.line-top {
    
    width: 100%;
    height: 8px;
    border: 0;
    border-radius: 5px;
    background-color: #0066b3;
}
#body-section-contact .line-top {
    position: absolute;
    top: -15px;
}
.content .header .line {
    margin: 0 auto;
}
.icon {
    /* padding-top: 60px; */
    position: absolute;
    width: 100%;
    bottom: 20px;
    left: 20px;
}
.icon img {
    width: 24%;
    /* padding: 50px 0px 20px 20px; */
}
.solution-list .item-header {
    /* padding-left: 20px; */
    color: #fff;
    /* padding-top: 20px; */
    /* padding-bottom: 68px; */
    padding-top: 20px;
    margin-left: 20px;
}
.solution-item {
    padding-right: 20px;
    margin-top: 30px;
}
.solution-item :hover, .solution-item :focus{
    background: rgba(0, 0, 0, 0);
    cursor: pointer;
    text-decoration: none;
}
.item-header .header1 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 0;
}
.item-header .header2 {
    font-size: 24px;
    font-weight: 700;
}
.item-header .line {
    margin: 0;
    width: 21%;
}
.col-sm-5 {
    width: 45.666667%!important;
}
.solution1 {
    margin-right: 8.33%;
    background-image: url('../img/solution-1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.solution2 {
    background-image: url('../img/solution-2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.solution3 {
    margin-right: 8.33%;
    margin-top: 6.33%;
    background-image: url('../img/solution-3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.solution4 {
    margin-top: 6.33%;
    background-image: url('../img/solution-4.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.outlayer {
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-repeat: no-repeat;
}
/*article section*/
#article-section-news {
    margin-top: 70px;
    margin-bottom: 10%;
    width: 80%;
    margin-left: 10%;
}
#article-section-news .line-top {
    position: absolute;
    top: -15px;
}
#article-section-news .article-list {
    margin-top: 0px;
}
.article-list .line-bottom {
    border-radius: 0;
}
#article-section {
    margin-top: 70px;
    margin-bottom: 120px;
}
.header .line {
    margin: 0;
}
.header .content {
    font-size: 23px;
    color: #0066b3;
    font-weight: 300;
    padding-top: 5px;
}

.img-container img {
    width: 100%;
}
.img-container .end-line {
    width: 100%;
}
.article-list .content {
    padding-left: 20px;
    text-transform: uppercase;
    font-weight: 700;
}
.article-list .header .row {
    margin-top: 38px;
}
/*body section*/
#body-section {
    border-bottom: 4px solid #0066b3;
    background-image: url('../img/logo-body.png');
    background-size: 8%;
    background-repeat: no-repeat;
    background-position: bottom right;
}
#body-section-contact {
    border-bottom: 4px solid #0066b3;
    background-image: url('../img/logo-body.png');
    background-size: 8%;
    background-repeat: no-repeat;
    background-position: bottom right;
    margin-top: 30px;
}
#body-section-contact .img-container {
    /* height: 500px; */
    width: 100%;
    /*background-image: url(../img/slide-4.png);*/
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 80%;
}
#body-section-product {
    border-bottom: 4px solid #0066b3;
    background-image: url('../img/logo-body.png');
    background-size: 8%;
    background-repeat: no-repeat;
    background-position: bottom right;
}
#slide-container-product {
    margin-top: 30px;
    position: relative;
}

#slide-container-product .left-arrow {
    display: none!important;
}
#slide-container-product .right-arrow {
    bottom: unset;
    top: 40%;
    left: 45%;
}
#slide-container-product .right-arrow img {
    width: 40px;
}
/*product*/
#product {
    margin-top: 50px;
    margin-bottom: 12.5%;
    width: 80%;
    margin-left: 10%;
}
.product-item {
    margin-top: 50px;
    border-bottom: 2px solid #bad4e2;
}
.product1 .descript, .product3 .descript {
    margin-right: 5px;
}
.tab-container {
    margin: 0 5% 0 5%;
}
#product .header {
    display: inline-block;
}
.product-item .img-solution {
    width: 60%;
    /* height: 390px; */
    float: left;
    border-bottom: 3px solid #bad4e2;
    cursor: pointer;
}
.descript-container {
    text-align: center;
    background: #0066b3;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    cursor: pointer;
}
#product .header {
    text-align: center;
    width: 40%;
}
.header .product-name {
    font-size: 25px;
    color: #0066b3;
    display: inline-block;
    padding-left: 10%;
    padding-right: 10%;
    border: 1px solid #0066b3;
    margin-top: 2px;
}
.descript {
    display: inline-block;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    margin: 0 5px;
    width: 80%;
    text-align: left;
}
.descript-container .dropdown-arrow {
    width: 20px;
    vertical-align: initial;
    cursor: pointer;
}
.drop {
    margin: 30px 0;
    /*text-align: center;*/
}
.drop img {
    max-width: 100%;
}
.drop .dropdown-img {
    width: 100%;
}
.link-list {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #0066b3;
} 
/*contact*/
#contact {
    margin-top: 50px;
    margin-bottom: 10%;
    width: 80%;
    margin-left: 10%;
}
#contact .line {
    width: 9%;
}
#contact .header .content {
    /*font-weight: bold;*/
    font-size: 30px;
}
#contact .intro {
    font-weight: 400;
    text-align: justify;
    font-size: 23px;
    padding-bottom: 30px;
    margin-top: 30px;
}
/*
.content-container .header-info {
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    color: #000000;
}
*/
.content-container .content {
    display: inline;
}
.content-container .paragraph {
    font-size: 23px;
    padding-left: 7.333%;
    font-weight: bold;
    color: #0066b3;
}
.content-container .description-article {
    margin-top: 10px;
    padding-left: 7.333%;
    font-size: 14px;
    line-height: 20px;
    color: #444;
}
/*footer-section*/
#footer-section {
}
#footer-section .row {
    margin-top: 50px;
}
#footer-section .header {
    font-size: 22px;
    color: #0066b3;
}
.brand-list {
    text-align: left;
}
.brand-item {
    display: inline-block;
    width: 7%;
    margin-right: 15%;
}
.brand-item img {
    width: 100%;
}

.first-item {
    padding-left: 0;
    margin-left: 0;
}
.last-item {
    padding-right: 0;
    margin-right: 0;
}
#partner-carousel {
    margin-bottom: 50px;
}
.slick-slide img {
    margin: 0 auto;
}

#footer-section #partner-carousel .slick-track {
    display: flex!important;
}
#footer-section .slick-track .slick-slide {
    display: flex;
    height: auto!important;
    align-items: center;
    justify-content: center;
}

#footer-section .content {
    text-align: center;
    margin-bottom: 20px;
}

#introduction {
    margin-top: 30px;
    width: 80%;
    margin-left: 10%;
}

#introduction .header {
    text-align: center;
    color: #0066b3;
}

#introduction .information .header {
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    color: #000000;
}

.fullscreen-bg {
    width: 100%;
}

.fullscreen-bg-video {
    top: 0;
    left: 0;
    width: 100%;
}