@media only screen and (max-width: 1300px) {
    .descript {
        font-size: 20px;
    }
    .header .product-name {
        font-size: 20px;
    }
    .descript-container .dropdown-arrow {
        width: 15px;
    }
    .arrow-container img {
        width: 35px;
    }
    .icon img {
        width: 25%;
    }
} 
@media only screen and (min-width: 1300px) {
    .descript-container {
        height: 100px;
        line-height: 100px;
        padding-top: 0;
    }
    .descript {
        font-size: 25px;
    }
}
@media only screen and (max-width: 1100px) {
    #section-header .navbar-container li {
        font-size: 21px;
    }
    .icon img {
        width: 25%;
    }
    .header .product-name, .descript {
        font-size: 18px;
    }
    .descript-container .dropdown-arrow {
        width: 13px;
    }
    #footer-section .slick-slide img {
        width: 150px;
        height: auto;
    }
}
@media only screen and (min-width: 1100px) {
    .descript-container {
        height: 100px;
        line-height: 100px;
        padding-top: 0;
    }

    .descript {
        font-size: 25px;
    }
}
@media only screen and (max-width: 1000px) {
    .header .product-name, .descript {
        font-size: 16px;
    }
    .descript {
        margin-right: 5px;
        margin-left: 5px;
    }
    .icon img {
        width: 30%;
    }
}
@media only screen and (max-width: 900px) {
    .logo-container img {
        width: 100px;
    }
    #body-section-contact .img-container {
        height: 400px;
        background-position-y: 0;
    }
    #solution-section .img-container {
        height: 400px;
        background-position-y: 0;
    }
    /* .product1 .descript, .product3 .descript {
        margin: 0;
    } */
    .header .product-name, .descript {
        font-size: 14px;
    }
    .product-item .img-solution {
        width: 40%;
    }
    #product .header {
        width: 60%;
    }
}
@media only screen and (min-width: 768px) {
    .navbar-container-mobile {
        display: none!important;
    }
    #myNavbar {
        display: none!important;
    }
    .drop-mobile {
        display: none!important;
    }
}
@media only screen and (max-width: 767px) {
    .solution3, .solution4 {
        margin-top: 30px;
    }
    .navbar-container {
        display: none!important;
    }
    .row12, .row34 {
        display: none!important;
    }
    .logo {
        display: inline-block;
        width: 20%;
        /* margin-left: 10%; */
        position: absolute;
        z-index: 999;
    }
    .logo-container img {
        width: auto;
        height: 60px;
    }
    #section-header .navbar-container-mobile .navbar {
        min-height: 60px;
        position: relative;
    }
    #section-header .navbar-container-mobile .navbar .navbar-header {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    #section-header .row {
        position: relative;
    }
    #solution-section {
        margin-top: 60px;
    }
    .navbar-container-mobile {
        width: 100%;
        display: inline-block;
        vertical-align: bottom;
    }
    .navbar-container-mobile .navbar-inverse {
        margin-bottom: 0;
    }
    .navbar-container-mobile .navbar-inverse {
        background-color: #ffffff;
        border-color: #ffffff
    }
    .navbar-container-mobile .navbar-inverse .navbar-toggle .icon-bar {
        background-color: #0066b3;
    }
    .navbar-container-mobile .navbar-inverse .navbar-toggle {
        border-color: #ffffff;
        /* position: relative;
        bottom: 35px; */
        margin-right: 0;
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .navbar-container-mobile .navbar-toggle .icon-bar {
        width: 30px;
        height: 4px;
    }
    .navbar-container-mobile .navbar-inverse .navbar-toggle:focus, 
    .navbar-container-mobile .navbar-inverse .navbar-toggle:hover,
    .navbar-container-mobile .navbar-inverse .navbar-toggle:visited {
        background: #fff;
    }
    #myNavbar {
        text-align: right;
        padding-left: 0;
        padding-right: 10%;
        font-size: 23px;
        font-weight: bold;
    }
    #myNavbar .navbar-nav>li>a:focus, 
    #myNavbar .navbar-nav>li>a:hover {
        font-weight: bold;
    }
    .navbar-collapse.in {
        overflow-y: unset!important;

    }
    #slide-container {
        margin-top: 30px;
    }
    #brand-carousel .img-container {
        height: 400px;
        background-position-y: 0;
    }
    #brand-carousel-product .img-container {
        height: 400px;
        background-position-y: 0;
    }
    #solution-section .content .intro {
        font-size: 20px;
    }
    #solution-section .content {
        width: 80%;
        margin-left: 10%;
    }
    .solution-list .item-header {
        padding-bottom: 0;
    }
    .solution1, .solution2, .solution3, .solution4 {
        /* background-size: 100%; */
        background-position-y: 80%;
    }
    .col-sm-5 {
        width: 100%!important;
    }
    /* .solution1, .solution2, .solution3, .solution4 {
        display: inline-block;
    }
    .solution1, .solution3 {
        margin-right: 5%;
    } */
    .description-article {
        display: none!important;
    }
    .article-list .img-container {
        width: 40%;
        margin-left: 10%;
        display: inline-block;
    }
    #article-section-news {
        margin-bottom: 13%;
    }
    #footer-section .row {
        margin-top: 30px;
    }
    #article-section-news .header .title {
        width: 80%;
        margin-left: 10%;
    }
    #product {
        margin-top: 30px;
    }
    .product-item {
        margin-top: 30px;
    }
    .article-list .content-container {
        width: 40%;
        display: inline-block;
        vertical-align: top;
    }
    .article-list .paragraph {
        font-size: 18px;
    }
    .information .body {
        font-size: 18px;
    }
    #contact {
        width: 80%;
        margin-left: 10%;
        margin-bottom: 13%;
    }

    #contact .intro {
        font-size: 18px;
    }
    #body-section-contact .img-container {
        height: 350px;
        background-position-y: 0;
    }
    #solution-section .img-container {
        height: 350px;
        background-position-y: 0;
    }
    .icon img {
        width: 25%;
    }
    #footer-section .header {
        margin-left: 10%;
    }
    .brand-list {
        width: 80%;
        margin-left: 10%;
    }
    .brand-item {
        width: 11%;
        margin-right: 10%;
    }
    .brand-item img {
        width: 100%;
    }
    #product .header {
        width: 60%;
    }
    #product {
        width: 80%;
        margin-left: 10%;
    }
    .header .product-name, .descript {
        font-size: 23px;
    }
    .descript-container .dropdown-arrow {
        width: 18px;
    }
    #body-section-product {
        background-size: 12%;
    }
    #body-section-contact {
        background-size: 12%;
    }
    #footer-section .slick-slide img {
        width: 80px;
        height: auto;
    }
}
@media only screen and (max-width: 600px) {
    #brand-carousel .img-container {
        height: 276px;
        background-position-y: 0;
    }
    #brand-carousel-product .img-container {
        height: 300px;
        background-position-y: 0;
    }
    .arrow-container img {
        width: 30px;
    }
    #slide-container {
        margin-top: 20px;
    }
    #brand-carousel .img-container {
        width: 100%;
    }
    #brand-carousel-product .img-container {
        width: 100%;
    }
    .article-list .paragraph {
        font-size: 16px;
    }
    .icon {
        padding-top: 30px;
    }
    /* .icon img {
        width: 40%;
    } */
    #solution-section .content .intro {
        font-size: 18px;
    }
    #body-section-contact .img-container {
        height: 230px;
        background-position-y: 0;
    }
    #solution-section .img-container {
        height: 230px;
        background-position-y: 0;
    }
    .header .title2 {
        font-size: 20px;
    }
    .header .title1 {
        font-size: 16px;
    }
    .header .title3 {
        font-size: 18px;
    }
    .product1 .descript, .product3 .descript {
        margin: 0 5% 0 5%;
    }
    .header .product-name, .descript {
        font-size: 18px;
    }
    .descript-container .dropdown-arrow {
        width: 14px;
    }
    .article-list .img-container {
        width: 80%;
        display: block;
    }
    .article-list .content-container {
        display: block;
        width: 80%;
        margin-left: 10%;
    }
    .article-list .content-container .paragraph {
        padding-left: 0;
        margin-top: 20px;
    }
    .article-list .content-container .description-article {
        padding-left: 0;
    }
    .item-header .header1 {
        font-size: 18px;
    }
    .item-header .header2 {
        font-size: 18px;
    }
    .icon img {
        width: 30%;
    }
    #contact .header .content {
        font-size: 24px;
    }
    #product {
        margin-bottom: 13%;
    }
    .header .product-name, .descript {
        font-size: 16px;
    }
    #footer-section .slick-slide img {
        width: 80px;
        height: auto;
    }
    #solution-section {
        width: 100%;
        margin-left: 0;
    }
    #article-section-news {
        width: 100%;
        margin-left: 0;
    }
}
@media only screen and (max-width: 450px) {
    #footer-section .slick-slide img {
        width: 70px;
        height: auto;
    }
    .header .title1 {
        font-size: 15px;
    }
    .header .title2 {
        font-size: 16px;
    }
    .header .title3 {
        font-size: 16px;
    }
}
@media only screen and (max-width: 375px) {
    .header .product-name, .descript {
        font-size: 15px;
    }
    #brand-carousel .img-container {
        height: 213.333px;
        background-position-y: 0;
        /*background-position-x: 70%;*/
    }
    #brand-carousel-product .img-container {
        height: 250px;
        background-position-y: 0;
        background-position-x: 0%;
    }
    .descript-container {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .product1 .descript, .product3 .descript {
        margin: 0 0 0 5%;
    }
    .descript-container .dropdown-arrow {
        width: 13px;
    }
    .header .product-name, .descript {
        font-size: 13px;
    }
}
@media only screen and (max-width: 320px) {
    #footer-section .slick-slide img {
        width: 50px;
        height: auto;
    }
    .header .title2 {
        font-size: 14px;
    } 
    .header .title3 {
        font-size: 14px;
    }
}